<!-- navbar.html -->
<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm border-bottom">
  <div class="container">
  <a class="navbar-brand" href="#">
    <img src="/assets/Logo Rasmi Horizontal.png" alt="UTHM IT Club" height="40">
  </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-secondary" href="/index.html">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-secondary" href="#" role="button" data-bs-toggle="dropdown">
            Activities
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/activities/bootcamps.html">Bootcamps</a></li>
            <li><a class="dropdown-item" href="/activities/events.html">Events</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-secondary" href="#" role="button" data-bs-toggle="dropdown">Resources</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/resources/software.html">Software Tools</a></li>
            <li><a class="dropdown-item" href="/resources/tutorial.html">Tutorials</a></li>
            <li><a class="dropdown-item" href="/resources/roadmap.html">Roadmaps</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-secondary" href="#" role="button" data-bs-toggle="dropdown">
            Study Materials
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/study/materials.html">Materials Library</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-secondary" href="#" role="button" data-bs-toggle="dropdown">
            About Us
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/about/story.html">About Us</a></li>
            <li><a class="dropdown-item" href="/about/join.html">Join Us</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link text-secondary" href="contact.html">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
